<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:replace="admin/_fragments :: head(~{::title})">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/semantic-ui/2.2.4/semantic.min.css">
    <link rel="stylesheet" href="../static/css/me.css">
    <title>分类管理</title>
</head>
<body>
<!--导航-->
<nav class="ui inverted segment m-padded-mini m-shadow">
    <div class="ui container">
        <div class="ui inverted secondary menu">
            <h2 class="ui teal header item">后台管理</h2>
            <a href="#" class="item active"><i class="home icon"></i>首页</a>
            <a href="#" class="item"><i class="idea icon"></i>分类</a>
            <a href="#" class="item"><i class="tags icon"></i>标签</a>
            <div class="right menu">
                <div class="ui dropdown item">
                    <div class="text">
                        <img class="ui avatar image" src="https://unsplash.it/100/100?image=1004" alt="">
                        孙忠然
                    </div>
                    <i class="dropdown icon"></i>
                    <div class="menu">
                        <a href="#" class="item">注销</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</nav>
<br>
<div class="ui attached pointing menu">
    <div class="ui container">
        <div class="right menu">
            <a href="#" class="item">发布</a>
            <a href="#" class="active teal item">列表</a>
        </div>
    </div>
</div>
<br>
<br>
<br>
<!--中间内容-->
<div class="m-container">
    <div class="ui container">
        <div class="ui success message" th:unless="${#strings.isEmpty(message)}">
            <i class="close icon"></i>
            <div class="header">提示</div>
            <p th:text="${message}"></p>
        </div>
        <table class="ui celled table">
            <thead>
            <tr>
                <th></th>
                <th>名称</th>
                <th>操作</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="type,iterStar : ${page.content}">
                <td th:text="${iterStar.count}">1</td>
                <td th:text="${type.name}">练习清单</td>
                <td>
                    <a href="#" th:href="@{/admin/types/{id}/input(id=${type.id})}" class="ui mini teal button">编辑</a>
                    <a href="#" th:href="@{/admin/types/{id}/delete(id=${type.id})}" class="ui mini red button">删除</a>
                </td>
            </tr>
            </tbody>
            <tfoot>
            <tr>
                <th colspan="6">
                    <div class="ui pagination menu" th:if="${page.totalPages}>1">
                        <a th:href="@{/admin/types(page=${page.number}-1)}"
                           class="item"
                           th:unless="${page.first}">
                            上一页
                        </a>
                        <a th:href="@{/admin/types(page=${page.number}+1)}"
                           class="item"
                           th:unless="${page.last}">
                            下一页
                        </a>
                    </div>
                    <a href="#"
                       th:href="@{/admin/types/input}"
                       class="ui large right floated teal button">新增</a>
                </th>
            </tr>
            </tfoot>
        </table>


    </div>
</div>
<br>
<br>
<!--底部-->
<footer class="ui inverted vertical segment m-padded-footer">
    <div class="ui container center aligned container">
        <div class="ui inverted divided grid">
            <div class="three wide column">
                <img src="../../static/images/8724909af75b63f87aa37d31442e8ef.jpg" class="ui rounded image" alt=""
                     style="width: 120px">
            </div>
            <div class="three wide column">
                <h4 class="ui inverted header">最新博客</h4>
                <div class="ui inverted link list">
                    <a href="#" class="item">用户故事</a>
                    <a href="#" class="item">用户故事</a>
                    <a href="#" class="item">用户故事</a>
                </div>
            </div>
            <div class="three wide column">
                <h4 class="ui inverted header">联系我们</h4>
                <div class="ui inverted link list">
                    <a href="#" class="item">Email:chaisheng6@icould.com</a>
                    <a href="#" class="item">WeChat:13084124337</a>
                </div>

            </div>

            <div class="seven wide column">
                <h4 class="ui inverted header">Berry</h4>
                <div class="ui inverted link list">
                    <p>这是我个人的博客，会分享喜欢的东西</p>
                </div>
            </div>
        </div>
        <div class="ui inverted section divider "></div>
        <p class="m-text-thin m-text-space m-text-lined">CopyRight @ 2019-2020 Berry Designed by Barry</p>
    </div>


</footer>
<script src="https://cdn.jsdelivr.net/npm/jquery@3.2/dist/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/semantic-ui/2.2.4/semantic.min.js"></script>
<script>
    $('.ui.dropdown').dropdown();

    //添加成功消息关闭js
    $('.message .close')
        .on('click', function () {
        $(this)
            .closest('.message')
            .transition('fade');
        });
</script>
</body>
</html>