<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:replace="_fragments :: head(~{::title})">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/semantic-ui/2.2.4/semantic.min.css">
    <link rel="stylesheet" href="../static/css/me.css">
    <title>首页</title>
</head>
<body>
<!--导航-->
<nav th:replace="_fragments :: menu(1)" class="ui inverted segment m-padded-mini m-shadow">
    <div class="ui container">
        <div class="ui inverted secondary menu">
            <h2 class="ui teal header item">Berry</h2>
            <a href="#" class="item"><i class="home icon"></i>首页</a>
            <a href="#" class="item"><i class="idea icon"></i>分类</a>
            <a href="#" class="item"><i class="tags icon"></i>标签</a>
            <a href="#" class="item"><i class="clone icon"></i>归档</a>
            <a href="#" class="item"><i class="info icon"></i>关于我</a>
            <div class="right item">
                <div class="ui icon input">
                    <label>
                        <input type="text" placeholder="search..">
                    </label>
                    <i class="search link icon"></i>
                </div>

            </div>
        </div>
    </div>
</nav>
<!--中间内容-->
<div>
    <div class="ui container">
        <div class="ui grid">
            <!--左边博客列表-->
            <div class="eleven wide column">
                <!--header-->
                <div class="ui top attached segment">
                    <div class="ui middle aligned two column grid">
                        <div class="column">
                            <h3 class="ui teal header">博客</h3>
                        </div>
                        <div class="right aligned column">
                            共<h2 class="ui orange header m-inline-block m-text-thin" th:text="${page.totalElements}">
                            14</h2>篇
                        </div>
                    </div>
                </div>
                <!--context-->
                <div class="ui attached segment">
                    <div class="ui padded vertical segment" th:each="blog : ${page.content}">
                        <div class="ui grid" >
                            <div class="eleven wide column">
                                <h3 class="ui header"><a href="#" th:href="@{/blog/{id}(id=${blog.id})}" target="_blank"
                                                         class="m-black"
                                                         th:text="${blog.title}">1111</a></h3>
                                <p class="m-text-lined" th:text="|${blog.description}....|">
                                    正则表达式是由一个字符序列形成的搜索模式。
                                    当你在文本中搜索数据时，你可以用搜索模式来描述你要查询的内容。 正则表达式可以是一个简单的字符，或一个更复杂的模式。
                                    正则表达式可用于所有文本搜索和文本替换的操作</p>
                                <div class="ui grid">
                                    <div class="ui eleven wide column">
                                        <div class="ui link list horizontal">
                                            <div class="item">
                                                <img src="https://unsplash.it/100/100?image=1005"
                                                     th:src="@{${blog.user.avatar}}" alt=""
                                                     class="ui avatar image">
                                                <div class="content">
                                                    <a href="#" th:text="${blog.user.nickname}" class="header">
                                                        孙忠然
                                                    </a>
                                                </div>
                                            </div>
                                            <div class="item">
                                                <i class="calendar icon"></i>
                                                <span th:text="${#dates.format(blog.updateTime,'yyyy-MM-dd')}">2020-11-17</span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="ui five wide right aligned column">
                                        <a href="#" target="_blank" class="ui label basic teal"
                                           th:text="${blog.type.name}">逼逼叨叨</a>
                                    </div>

                                </div>
                            </div>

                            <div class="five wide column">
                                <a href="#" th:href="@{/blog/{id}(id=${blog.id})}" target="_blank">
                                    <img src="https://unsplash.it/800/450?image=1005" th:src="@{${blog.firstPicture}}"
                                         alt="" class="ui rounded image">
                                </a>
                            </div>
                        </div>
                    </div>

                </div>
                <!--footer-->
                <div class="ui bottom attached segment" th:if="${page.totalPages}>1">
                    <div class="ui middle aligned two column grid">
                        <div class="column">
                            <a href="#" class="ui button teal basic" th:href="@{/(page=${page.number}-1)}" th:unless="${page.first}">上一页</a>
                        </div>
                        <div class="right aligned column">
                            <a href="#" class="ui button teal basic" th:href="@{/(page=${page.number}+1)}" th:unless="${page.last}">下一页</a>
                        </div>
                    </div>
                </div>

            </div>

            <div class="five wide column">
                <!--right top-->
                <div class="ui segments">
                    <div class="ui secondary segment">
                        <div class="ui two column grid">
                            <div class="column">
                                分类
                            </div>
                            <div class="column right aligned">
                                <a href="#" target="_blank" th:href="@{/types/-1}">more <i class="angle double right icon"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="ui segment teal">
                        <div class="ui fluid vertical menu" >
                            <a href="#" class="item" th:each="type : ${types}" th:href="@{/types/{id}(id=${type.id})}" target="_blank">
                                <span th:text="${type.name}">学习日志</span>
                                <div class="ui teal left pointing label" th:text="${#arrays.length(type.list)}">13</div>
                            </a>
                        </div>
                    </div>
                </div>
                <!--tag-->
                <div class="ui segments">
                    <div class="ui secondary segment">
                        <div class="ui two column grid">
                            <div class="column">
                                标签
                            </div>
                            <div class="column right aligned">
                                <a href="#" target="_blank" th:href="@{/tags/-1}">more <i class="angle double right icon"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="ui teal segment">
                        <a href="#" class="ui teal left pointing label m-margin-tb-tiny" target="_blank" th:each="tag : ${tags}" th:href="@{/tags/{id}(id=${tag.id})}">
                            <span th:text="${tag.name}">张萱榕</span>
                        </a>
                    </div>


                </div>
                <!--最新推荐-->
                <div class="ui segments">
                    <div class="ui secondary segment">
                        最新推荐
                    </div>
                    <div class="ui segment" th:each="blog : ${recommendBlogs}">
                        <a href="#" th:href="@{/blog/{id}(id=${blog.id})}" target="_blank" class="m-black" th:text="${blog.title}">用户故事(User)</a>
                    </div>
                </div>
                <!--二维码-->
                <h4 class="ui horizontal divider header">扫码关注我</h4>
                <div class="ui card centered" style="width: 11em">
                    <img class="ui rounded image" alt="" src="../static/images/8724909af75b63f87aa37d31442e8ef.jpg"
                         th:src="@{/images/8724909af75b63f87aa37d31442e8ef.jpg}">
                </div>
            </div>
        </div>
    </div>
</div>
<!--底部-->
<footer class="ui inverted vertical segment" th:replace="_fragments :: footer">
    <div class="ui container center aligned container">
        <div class="ui inverted divided grid">
            <div class="three wide column">
                <img src="../static/images/8724909af75b63f87aa37d31442e8ef.jpg"
                     th:src="@{/images/8724909af75b63f87aa37d31442e8ef.jpg}"
                     class="ui rounded image" alt=""
                     style="width: 120px">
            </div>
            <div class="three wide column">
                <h4 class="ui inverted header">最新博客</h4>
                <div class="ui inverted link list">
                    <a href="#" class="item">用户故事</a>
                    <a href="#" class="item">用户故事</a>
                    <a href="#" class="item">用户故事</a>
                </div>
            </div>
            <div class="three wide column">
                <h4 class="ui inverted header">联系我们</h4>
                <div class="ui inverted link list">
                    <a href="#" class="item">Email:chaisheng6@icould.com</a>
                    <a href="#" class="item">WeChat:13084124337</a>
                </div>

            </div>

            <div class="seven wide column">
                <h4 class="ui inverted header">Berry</h4>
                <div class="ui inverted link list">
                    <p>这是我个人的博客，会分享喜欢的东西</p>
                </div>
            </div>
        </div>
        <div class="ui inverted section divider "></div>
        <p class="m-text-thin m-text-space m-text-lined">CopyRight @ 2019-2020 Berry Designed by Barry</p>
    </div>


</footer>
<!--/*/<th:block th:replace="_fragments :: script">/*/-->
<script src="https://cdn.jsdelivr.net/npm/jquery@3.2/dist/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/semantic-ui/2.2.4/semantic.min.js"></script>
<!--/*/</th:block>/*/-->
</body>
</html>